<div class="container">
  <div [ngSwitch]="characters?.length">
    <div *ngSwitchCase="0" style="margin-top: 2rem">
      <div *ngIf="error !== null">
        <div class="alert alert-danger" role="alert">{{error.message}}</div>
      </div>
      <div *ngIf="error === null">
        <p>Hold your horses for a while.</p>
      </div>
    </div>
    <div *ngSwitchCase="1">
      <div class="row">
        <div class="col-sm-12">
          <div class="card" style="margin-top: 2rem">
            <div class="card-header">
              <h3>{{characters[0].name}}</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3" style="text-align: center">
                  <img class="border" src="{{characters[0].thumbnailUrl}}" alt="Card image cap">
                </div>
                <div class="col-sm-9">
                  <p class="card-text">{{characters[0].description}}</p>
                  <a href="{{characters[0].detailsUrl}}" class="btn btn-primary" target="_blank">Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchDefault>
      <div class="row" style="margin-top: 2rem">
        <ng-container *ngFor="let character of characters">
          <div class="col-sm" style="margin-bottom: 2rem;">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="{{character.thumbnailUrl}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{character.name}}</h5>
                <a routerLink="{{character.id}}" routerLinkActive="active" class="btn btn-primary">Profile</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row justify-content-center">
        <ngb-pagination [collectionSize]="total" [(page)]="cursor" size="sm" aria-label="Default pagination" (pageChange)="pageChange()"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
